{% extends 'base.html' %}
{% load static %}

{% block title %}{{ news.title }}{% endblock %}

{% block content %}
    <header class="news-header">
        <div class="container">
            <h1 class="news-title">{{ news.title }}</h1>
            <p class="news-meta">By {{ news.author }} on {{ news.date_published|date:"F j, Y" }}</p>
        </div>
    </header>

    <section class="container news-content">
        <div class="row">
            <div class="col-md-8">
                <!-- Display the main content of the news article -->
                <img src="{% static news.image_url %}" class="news-image" alt="{{ news.title }}">
                
                {% for paragraph in news.content %}
                    <p class="news-body">{{ paragraph }}</p>
                {% endfor %}
                
            </div>
            <div class="col-md-4">
                <!-- Additional content like tags, category, and source -->
                <div class="news-details">
                    <p class="news-detail"><strong>Category:</strong> {{ news.category }}</p>
                    <p class="news-detail"><strong>Source:</strong> {{ news.source }}</p>
                    <p class="news-detail"><strong>Tags:</strong> {{ news.tags|join:", " }}</p>
                    <p class="news-detail"><strong>Views:</strong> {{ news.views }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
